<div class="container">
    <div class="row">
        <div class="span12">
            <div id="imagebox" class="jc-demo-box">



                <!-- This is the image we're attaching Jcrop to -->
                <img src="{{ .folder }}/{{ .pic }}" id="target" alt="Mandel>" />



                <!-- This is the form that our event handler fills -->
                {{if ne .curr.Iterations  0 }}
                <form id="coords" class="coords" action="zoom" method="POST">

                    <div class="form-group">

                        <label for="x1">X1</label>
                        <input type="text" class="form-control" id="x1" name="x1" value="{{ .curr.MinX }}" />

                        <label for="y1">Y1</label>
                        <input type="text" class="form-control" id="y1" name="y1" value="{{ .curr.MinY }}" />

                        <label for="x2">X2</label>
                        <input type="text" class="form-control" id="x2" name="x2" value="{{ .curr.MaxX }}" />

                        <label for="y2">Y2</label>
                        <input type="text" class="form-control" id="y2" name="y2" value="{{ .curr.MaxY }}" />

                        <label for="iterations">Iterations</label>
                        <input type="text" class="form-control" id="iterations" name="iterations"
                            value="{{ .curr.Iterations }}" />

                        <!-- input type="submit" class="form-control" id="submit" name="submit" / -->
                        <button type="submit" class="btn btn-primary">Submit</button>

                        <input type="hidden" id="CurrX1" name="CurrX1" value="{{ .curr.MinX }}" />
                        <input type="hidden" id="CurrX2" name="CurrX2" value="{{ .curr.MaxX }}" />
                        <input type="hidden" id="CurrY1" name="CurrY1" value="{{ .curr.MinY }}" />
                        <input type="hidden" id="CurrY2" name="CurrY2" value="{{ .curr.MaxY }}" />


                    </div>
                </form>
                <a href="{{ .folder }}/{{ .pic }}" target="_blank">Raw image is here: /{{ .folder }}/{{ .pic }} </a>
                {{ end }}
                <div class="clearfix"></div>

            </div>
            <p id="result"></p>
        </div>
    </div>
</div>